@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
#bodyelement{
    font-family: "orbitron";
    background: #00002E;
    
}
#Header-1{
    color: rgb(165,17,128);

}
.myfunction{
    text-align: center;
    color: azure;
}
#Header-two{
    text-align: center;
    color: rgb(165, 17, 128);
    font-size: 65px;
    
}



.jackpot-element{
    color:rgb(108, 185, 190);
    font-size:30px;
    
}
#introductory-text{
    text-align: center;
    font-size: 30px;
    color: rgb(240, 241, 255);
}
#div-text{
    text-align: center;
    font-size: 30px;
    color: rgb(240, 241, 255);

}




#form-one{
    color:aliceblue;
    font-size: x-large;
    
    
   
}
#input-number {
    background-color: black;
    color: aliceblue;
    margin-left:19.5mm;
    height: 11mm;
    width: 48mm;
    font-size: larger;
    border-color: rgb(82, 224, 38);
    border-style:ridge;
    border-width: 1.5mm;
    
    
    
}
#input-number-two{
    
    background-color: rgb(0, 0, 0);
    color:aliceblue;
    margin-left: 10mm;
    height: 11mm;
    width: 48mm;
    font-size: larger;
    border-color: rgb(212, 18, 11);
    border-style:ridge;
    border-width: 1.5mm;
    
}
#input-number-three{
    background-color: rgb(0, 0, 0);
    color:aliceblue;
    height: 11mm;
    width: 48mm;
    font-size: larger;
    border-color: rgb(204, 223, 34);
    border-style:ridge;
    border-width: 1.5mm;

}
#input-number-four{
    background-color: rgb(0, 0, 0);
    color:aliceblue;
    height: 11mm;
    width: 48mm;
    font-size: larger;
    border-color: rgb(204, 223, 34);
    border-style:ridge;
    border-width: 1.5mm;

}
#labelOne{
    margin: 35px;
    margin-left: auto;
}
#labelTwo{
    margin: 35px;
    margin-left: auto;
}
#labelThree{
    margin: 35px;
    margin-left: 15cm;
}
#labelFour{
    margin: 35px;
    margin-left: 15cm;
}

footer{
    color: aliceblue;
    text-align: center;
}