@import url("https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Orbitron&family=Patua+One&family=Permanent+Marker&family=Press+Start+2P&family=Sigmar+One&family=Yuji+Hentaigana+Akari&display=swap");

#bodyelement {
  font-family: "orbitron";
  background: #00002e;
  margin-bottom: 0cm;
}
#main-div {
  position: relative;
  top: -1cm;
  margin-bottom: -1cm;
}

#hiddenDiv {
  display: none;
  position: relative;
  top: -2.5cm;
  margin-bottom: 0%;
}
#int-span {
  animation: blinked 1s step-start infinite;
  animation-delay: 0.8s;
}
@keyframes blinked {
  50% {
    opacity: 0;
  }
}
#Header-1 {
  color: rgb(226, 230, 36);
  position: relative;
  opacity: 0.6;
}
#strong-text {
  color: rgb(13, 138, 13);
  text-transform: uppercase;
}
#Header-two {
  text-align: center;
  color: rgb(165, 17, 128);
  font-size: 65px;
}
.jackpot-element {
  color: rgb(108, 185, 190);
  font-size: 30px;
  animation: blinking 2s linear infinite;
}
@keyframes blinking {
  50% {
    opacity: 0.6;
  }
}
#introductory-text {
  text-align: center;
  font-size: 30px;
  color: rgb(240, 241, 255);
  text-transform: uppercase;
}
#div-text {
  text-align: center;
  font-size: 30px;
  color: rgb(240, 241, 255);
  text-transform: uppercase;
}
#form-one {
  color: aliceblue;
  font-size: x-large;
  margin-top: 5cm;
}

#input-number {
  background-color: black;
  color: aliceblue;
  margin-left: 19.5mm;
  height: 11mm;
  width: 48mm;
  font-size: larger;
  border-color: rgb(82, 224, 38);
  border-style: ridge;
  border-width: 1.5mm;
}
#input-number-two {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  margin-left: 10mm;
  height: 11mm;
  width: 48mm;
  font-size: larger;
  border-color: rgb(212, 18, 11);
  border-style: ridge;
  border-width: 1.5mm;
}
#input-number-three {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  height: 11mm;
  width: 48mm;
  font-size: larger;
  border-color: rgb(204, 223, 34);
  border-style: ridge;
  border-width: 1.5mm;
}
#input-number-four {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  height: 11mm;
  width: 125mm;
  font-size: larger;
  border-color: rgb(90, 161, 126);
  border-style: ridge;
  border-width: 1.5mm;
  position: relative;
  top: 1.5cm;
  margin-left: -4cm;
}
.input-text {
  font-family: "orbitron";
}
#labelOne {
  margin: 35px;
  margin-left: 1cm;
}
#labelTwo {
  margin: 35px;
  margin-left: 1cm;
}
#labelThree {
  margin: 35px;
  margin-left: 18cm;
  position: relative;
  top: 2cm;
}
#labelFour {
  margin: 35px;
  margin-left: 1cm;
  margin-bottom: 8cm;
  position: relative;
  top: -2cm;
}
#thanks-text {
  font-size: 2cm;
  color: aquamarine;
  display: none;
  position: relative;
  top: -4cm;
  font-family: "Yuji Hentaigana Akari";
}
#sumButton {
  font-size: 12mm;
  transition-duration: 150ms;
  font-family: "Press Start 2P";
  border-radius: 12px;
  padding: 12px 28px;
  border-color: red;
  background: #00002e;
  color: rgb(243, 237, 237);
  border-style: inherit;
  display: none;
  position: relative;
  top: -7.1cm;
}
#hint-div {
  position: relative;
  left: auto;
  top: -1cm;
}
#clear-button {
  font-size: 12mm;
  transition-duration: 150ms;
  font-family: "Press Start 2P";
  border-radius: 12px;
  padding: 12px 28px;
  border-color: red;
  background: #00002e;
  color: rgb(243, 237, 237);
  border-style: inherit;
  top: -5.1cm;
  position: relative;
  left: 2cm;
}
#clear-button:hover {
  background-color: rgb(204, 68, 33);
}
#clear-button:active {
  background-color: rgb(167, 121, 36);
  box-shadow: 0 5px rgb(4, 1, 24);
  transform: translateY(4px);
}
#hint-text {
  color: aliceblue;
  position: relative;
  top: -0.2cm;
  left: 17cm;
  font-size: 6mm;
  display: none;
}
#hint-button {
  background-color: rgb(212, 196, 47);
  position: relative;
  left: 30cm;
  top: -0.5cm;
  font-size: xx-large;
  font-family: "Sigmar one";
  padding: 4 5;
}

#Liked-Button {
  font-size: 12mm;
  position: relative;
  left: 15cm;
  top: -4cm;
  font-family: "yuji hentaigana akari";
  background-color: #00002e;
  border-radius: 12px;
  border-style: inherit;
  transition-duration: 0.2s;
  color: rgb(231, 238, 229);

}
#Liked-Button:hover{
  background-color: rgb(5, 175, 197);
  box-shadow:  2px 2px 10px 5px rgb(3, 193, 207);

}

#sumButton:hover {
  background-color: rgb(167, 121, 36);
}
#sumButton:active {
  background-color: rgb(204, 68, 33);
  box-shadow: 0 5px rgb(4, 1, 24);
  transform: translateY(4px);
}

#gitButton {
  margin-left: 20cm;
  font-size: large;
  position: relative;
  top: -0.5cm;


  color: bisque;
  font-family: "Orbitron";
  transition-duration: 200ms;
  background: #00002e;
  padding: 5px 10px;
  border-radius: 12px;
  border-style: inherit;
}
#gitButton:hover {
  background-color: #00002e;;
}
#gitButton:active {
  background-color: rgb(27, 136, 199);
  box-shadow: 0 5px rgb(224, 217, 217);
  transform: translateY(8px);
}
#hiddenButton {
  position: relative;
  font-size: 2cm;
  margin-left: 13cm;

  background-color: #00002e;
  color: rgb(228, 209, 209);
  border-style: solid;
  transition-duration: 1s;
  border-radius: 12px;
  text-decoration: solid;

  font-family: "permanent marker";
  padding: 4 12px;
}

#hiddenButton:hover {
  background-image: radial-gradient(
    circle,
    rgba(209, 14, 14, 1) 0%,
    rgba(35, 124, 131, 1) 0%,
    rgba(31, 27, 148, 1) 97%,
    rgba(14, 209, 194, 1) 100%
  );
  animation: slider 9s linear infinite;
}
@keyframes slider {
  to {
    background-position: 100vw;
  }
}

#footer-text {
  font-size: 5mm;
  color: aliceblue;
  text-align: center;
  -moz-background-clip: text;
  -moz-text-decoration-color: transparent;
  text-decoration-color: transparent;
  background-clip: text;
  margin-right: 5cm;
  position: relative;
  top: 0.8cm;

  background: -webkit-linear-gradient(
    rgb(232, 245, 236),
    rgb(63, 192, 38),
    rgb(229, 255, 0),
    rgb(150, 37, 43)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#footer-element {
  position: relative;
}
/* YES */
